@charset "utf-8";

/* header */

header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid #7ec08a;
}

header>div {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
}

header>div img:first-child {
    width: 166px;
    height: 70px;
    margin-top: 10px;
}

header>div img:last-child {
    width: 204px;
    height: 46px;
    margin-top: 32px;
    margin-left: 24px;
}


/* title */

.title {
    width: 100%;
    height: 64px;
    margin: 0 auto;
    overflow: hidden;
}

.title .title_content {
    width: 1000px;
    height: 64px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.title .title_content img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 20px;
    left: 12px;
}

.title .title_content h3 {
    font-size: 20px;
    position: absolute;
    top: 18px;
    left: 32px;
}

.title .title_content span {
    font-size: 18px;
    position: absolute;
    top: 20px;
    right: 35px;
}

.title .title_content a {
    font-size: 18px;
    position: absolute;
    top: 20px;
    right: 0px;
    color: #37a4e8;
}


/* success_window */

.success_window {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
}

.success_window>div {
    width: 996px;
    height: 696px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #dcdcdc;
    background: url(../images/back1.jpg) repeat-x;
}

.success_window>div .success_progress {
    height: 100px;
    font-size: 14px;
    position: relative;
}

.success_window>div .success_progress span:first-child {
    position: absolute;
    top: 10px;
    left: 32px;
}

.success_window>div .success_progress span:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 426px;
}

.success_window>div .success_progress span:nth-child(3) {
    position: absolute;
    top: 10px;
    left: 890px;
}

.success_window>div .success_progress img:first-of-type {
    position: absolute;
    top: 40px;
    left: 52px;
}

.success_window>div .success_progress img:nth-of-type(2) {
    position: absolute;
    top: 40px;
    left: 268px;
}

.success_window>div .success_progress img:nth-of-type(3) {
    position: absolute;
    top: 40px;
    left: 510px;
}

.success_window>div .success_al {
    width: 350px;
    height: 60px;
    position: relative;
    margin: 0px auto;
    margin-top: 60px;
}

.success_window>div .success_al div:nth-of-type(1) {
    position: absolute;
    width: 48px;
    height: 48px;
}

.success_window>div .success_al div:nth-of-type(2) {
    position: absolute;
    top: 2px;
    left: 65px;
}

.success_window>div .success_al div:nth-of-type(3) {
    position: absolute;
    top: 32px;
    left: 65px;
}

.success_window>div .success_al div:nth-of-type(3) span {
    color: #ff9000;
}

.success_window>div .success_al>input {
    width: 100px;
    height: 28px;
    border-radius: 3px;
    font-weight: 800;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 230px;
    background: #ff9000;
    color: #fff;
    font-size: 14px;
}

.success_window>div .success_img {
    width: 200px;
    height: 215px;
    border: 1px solid #e8e8e8;
    margin: 70px auto;
}

.success_window>div .success_img img:first-child {
    margin: 20px;
}

.success_window>div .success_img img:nth-child(2) {
    margin: 0 34px;
}


/* aboutUs */

.aboutUs {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
}

.aboutUs>div {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
}

.aboutUs>div ul {
    width: 600px;
    margin: 70px auto 0;
    display: flex;
}

.aboutUs>div ul li {
    width: 120px;
    text-align: center;
    border-right: 1px solid #e8e8e8;
}

.aboutUs>div ul li:last-child {
    border-right: none;
}


/* footer */

footer {
    width: 100%;
    height: 123px;
    margin: 0 auto;
    overflow: hidden;
    border-top: 1px solid #e8e8e8;
}

footer .foot {
    width: 1000px;
    height: 123px;
    margin: 0 auto;
    overflow: hidden;
}

footer .foot p {
    margin: 20px auto;
    font-size: 14px;
    text-align: center;
}


/* 灰色背景 */

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.process {
    position: fixed;
    top: 40%;
    left: 40%;
    width: 250px;
    height: 150px;
    line-height: 150px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
}


/* 登录窗口 */

.login {
    width: 362px;
    height: 382px;
    position: fixed;
    top: 35%;
    left: 35%;
    z-index: 1000;
    border: 1px solid #49a75b;
    border-radius: 2px;
    background: #ffffff;
    z-index: 1000;
    display: none;
}

.login .login_head {
    width: 362px;
    height: 52px;
    border-bottom: 1px solid #49a75b;
}

.login .login_head div:first-child {
    float: left;
    width: 181px;
    font-size: 16px;
    text-align: center;
    line-height: 52px;
    border-bottom: 3px solid #48a75b;
}

.login .login_head div:last-child {
    float: right;
    width: 181px;
    font-size: 16px;
    text-align: center;
    line-height: 52px;
}

.login .pwdLogin {
    width: 382px;
}

.login .pwdLogin input:nth-of-type(-n+2) {
    width: 300px;
    height: 40px;
    border: 2px solid #eee;
    margin: 20px 25px 0;
    border-radius: 3px;
    font-size: 16px;
}

.login .pwdLogin input:nth-of-type(2) {
    margin-bottom: 20px;
}

.login .pwdLogin input:nth-of-type(3) {
    margin-left: 20px;
}

.login .pwdLogin a {
    margin-left: 170px;
    color: #2da1e8;
}

.login .pwdLogin input:nth-of-type(4) {
    margin-top: 20px;
    width: 300px;
    height: 34px;
    border-radius: 3px;
    background: #49a75b;
    margin-left: 20px;
    font-size: 18px;
    color: #ffffff;
}

.login .teleLogin {
    display: none;
}

.login p {
    width: 290px;
    height: 50px;
    margin-left: 20px;
    margin-top: 25px;
    background: #f7fbf5;
    border-radius: 3px;
    line-height: 50px;
    font-size: 16px;
    padding-left: 10px;
}

.login p a {
    color: #2da1e8;
}
